<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Verificação de Segurança - Cor</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
  <link rel="stylesheet" href="../css/recupSenha3.css">

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

  <div class="screen">
    <div class="content">

      <div class="back-btn" style="cursor: pointer;">
        <i class="fa-solid fa-arrow-left"></i>
      </div>

      <div class="center">
        <h1>Verificação de Segurança</h1>
        <p class="subtitle">
          Qual a sua cor favorita?
        </p>

        <div class="input-box">
          <input type="text" placeholder="Sua cor favorita" />
        </div>

        <div class="bottom">
          <button class="btn">
            Verificar
          </button>
        </div>
      </div>

    </div>
  </div>

  <script src="../../js/recuperarSenha.js"></script>

</body>
</html>