<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Senha</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/recupSenha1.css">
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<div class="container">
    <div class="overlay"></div>

    <div class="back-btn" style="cursor: pointer;">
        <svg viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
        </svg>
    </div>

    <div class="content" id="screen-email">
        <h1 class="title">Recuperar Senha</h1>
        <p class="subtitle">
            Insira seu e-mail para continuar.
        </p>

        <div class="input-box">
            <svg viewBox="0 0 24 24">
                <path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 
                1.1.9 2 2 2h16c1.1 0 2-.9 
                2-2V6c0-1.1-.9-2-2-2zm0 
                4-8 5-8-5V6l8 5 8-5v2z"/>
            </svg>
            <input type="email" placeholder="Seu e-mail">
        </div>

        <button class="btn">
            Continuar
        </button>
    </div>
</div>

<script src="../../js/recuperarSenha.js"></script>

</body>
</html>